*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,css{
    width: 100%;
    height: 100%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background-color:aquamarine;
}

.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translate(-50%);
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
}

h1{
    font-size: 2.5rem;
    color: #a92828;
}

.signup-header p{
    font-size: 0.8rem;
    color:#555;

}

.signup-body{
    margin: 20px 0;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label{
   display: block;
   font-weight: bold;
}

.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover{
    background-color: #185a85;
}

.signup-footer p {
    color: #555;
    text-align: center;
}

.signup-footer p a {
    color: #2773a5;   
}

