*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}

html,css{
    width: 100%;
    height: 100%;
}

body{
    background-color: aquamarine;
    
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translate(15%);
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #400314;
}
h1{
    font-size: 2.5rem;
    color: #260303;
}

.login-body p input[type="submit"]{
    background-color: #185a85;
    cursor: pointer;
}

.login-footer p a {
    color:blue

}

